<%= link "Votre liste", to: present_path(@conn, :index) %>
</br>
<%= link "Liste", to: user_path(@conn, :index) %>
</br>
<%= link "Configuration", to: user_path(@conn, :edit, @user) %>
</br>
<p> Contact </p>
